/**INDEX**/


body {
  background-color: #000035; }

header li:hover {
  background-color: #48d0df;
  transition: background-color .7s; }

#imagenIndex img {
  height: 600px;
  width: 199%; }

.textoIndex {
  color: black;
  font-size: 35PX; }

footer img {
  height: 30px;
  width: 30px; }

/****FIN INDEX****/
/**HISTORIA**/
.textoHistoria, .tituloHistoria {
  color: white; }

.textoHistoria a {
  color: red; }

.historia img {
  max-height: 350px; }

.h4Titulo {
  color: white; }

.card {
  height: 350px;
  width: 350px;
  background-color: #000035; }

.card img {
  height: 350px;
  width: 350px; }

.textDiscografia {
  color: white;
  text-shadow: gray;
  margin-left: 15px; }
